<div class="flex justify-between my-8 | lg:flex-col-reverse">
  <!-- News data -->
  <div class="flex flex-col w-3/4 mr-4 | lg:mr-0 lg:mt-4">
    <span class="uppercase text-gray-700 text-xs tracking-widest"
      >Política</span
    >
    <h3 class="text-lg">
      Titular de la noticia un poco larga para que llegue a las tres líneas
    </h3>
    <p class="text-gray-500 text-xs">Abstract</p>
  </div>

  <!-- News image -->
  <div
    class="bg-gray-800 w-1/4 bg-cover bg-center | lg:h-40 lg:w-full"
    style="
      background-image: url('../../../../../assets/img/news-placeholder.webp');
    "
  ></div>
</div>
