<div class="container mx-auto px-6">
  <main class="font-serif">
    <h1
      class="font-bold text-2xl px-6 | lg:px-0"
      [ngClass]="{ hidden: !isPageLoading }"
    >
      Resultados de búsqueda
    </h1>

    <div class="md:container px-6 | lg:px-0 lg:grid lg:grid-cols-3">
      <shared-loading *ngIf="isPageLoading; else notLoading"></shared-loading>

      <ng-template #notLoading>
        <div
          *ngIf="headlines && headlines.length > 0; then news; else noNews"
        ></div>

        <ng-template #news>
          <app-headline
            class="cursor-pointer hover:shadow-xl"
            [routerLink]="['/news', headline.news_id]"
            *ngFor="let headline of headlines"
            [headline]="headline"
          ></app-headline>
        </ng-template>

        <ng-template #noNews>
          <div
            class="
              my-[50%]
              py-4
              flex flex-col
              items-center
              space-y-2
              border-black border-2
              |
              md:max-w-md md:mx-auto
              lg:my-10
            "
          >
            <p class="font-serif text-lg">Sin noticias</p>
            <div class="px-4 text-center">
              <p class="font-sansSerif text-base mb-2">
                No hay noticias que coincida con su búsqueda
              </p>

              <p class="font-sansSerif text-xs leading-none mb-6">
                O bien ingresaste acá directamente sin haber buscado.
              </p>
            </div>
            <span class="material-icons text-6xl"> error </span>
          </div>
        </ng-template>
      </ng-template>
    </div>
  </main>
</div>
