<div class="md:flex md:flex-col-reverse">
  <!-- News image -->
  <img
    class="w-full my-4 || dark:brightness-75 dark:contrast-125"
    [src]="articleImage | imgNews | async"
  />

  <!-- News title and data -->
  <div class="flex flex-col">
    <!-- News title -->
    <h1
      class="text-2xl font-serif mb-3 | md:text-5xl || dark:text-gray-200"
      id="ir-title"
    >
      {{ articleTitle }}
    </h1>

    <!-- News data -->
    <div class="flex justify-between mb-3 | md:flex-col">
      <span
        class="text-xs text-gray-400 font-serif | md:mb-2"
        *ngFor="let author of articleAuthors"
        >{{ author }}</span
      >
      <span class="text-xs text-gray-400 font-serif">{{
        articleDate | date
      }}</span>
    </div>
  </div>
</div>
