<form action="" [formGroup]="a11yForm">
  <!-- Dark mode option -->
  <label
    for="dark-mode"
    class="flex items-center justify-between space-x-2 cursor-pointer"
  >
    <!-- label -->
    <div class="text-black font-medium || dark:text-gray-200">Modo oscuro</div>
    <!-- toggle -->
    <div class="relative">
      <!-- input -->
      <input
        type="checkbox"
        id="dark-mode"
        class="sr-only"
        (click)="toggleDarkMode()"
        #darkMode
      />
      <!-- line -->
      <div class="block line bg-gray-300 w-14 h-8 transition"></div>
      <!-- dot -->
      <div
        class="
          dot
          absolute
          left-1
          top-1
          bg-white
          w-6
          h-6
          transition
          ||
          dark:bg-gray-700
        "
      ></div>
    </div>
  </label>
  <hr class="my-4 || dark:border-gray-700" />
  <!-- Color-blind mode (daltónicos) -->
  <label for="daltonic-mode">
    <!-- Label -->
    <div class="text-black font-medium inline-block mr-4 || dark:text-gray-200">
      Filtro daltónico
    </div>

    <!-- Dropdown -->
    <select
      name="daltonic-mode"
      id="daltonic-mode"
      formControlName="colorblindFilter"
      (change)="setColorblindFilter()"
      class="dark:text-gray-700"
    >
      <option [ngValue]="'none'" selected class="dark:text-gray-700">
        Ninguno
      </option>
      <option
        *ngFor="let filter of colorblindFilters"
        [ngValue]="filter.value"
        class="dark:text-gray-700"
      >
        {{ filter.name }}
      </option>
    </select>
  </label>
  <hr class="my-4 || dark:border-gray-700" />

  <!-- Immersive narration -->
  <label
    for="imm-narration"
    class="flex items-center justify-between space-x-2 cursor-pointer"
  >
    <!-- Label -->
    <div class="text-black font-medium || dark:text-gray-200">
      Narración inmersiva
    </div>
    <!-- toggle -->
    <div class="relative">
      <!-- input -->
      <input
        type="checkbox"
        id="imm-narration"
        class="sr-only"
        (click)="toggleImmersiveNarration()"
      />
      <!-- line -->
      <div class="block line bg-gray-300 w-14 h-8 transition"></div>
      <!-- dot -->
      <div
        class="
          dot
          absolute
          left-1
          top-1
          bg-white
          w-6
          h-6
          transition
          ||
          dark:bg-gray-700
        "
      ></div>
    </div>
  </label>
</form>
