<div class="container mx-auto px-4 min-h-screen">
  <main class="font-serif">
    <h1 class="font-bold text-2xl px-6 | lg:px-0 || dark:text-gray-200">
      Últimas noticias
    </h1>

    <div class="flex flex-col | md:container | px-0 lg:grid lg:grid-cols-3">
      <ng-container *ngIf="news.news.length > 0; else noNews">
        <app-headline
          class="cursor-pointer hover:shadow-xl transition-all duration-300 dark:hover:bg-gray-800 px-6 lg:px-0"
          [routerLink]="['/news', headline.news_id]"
          *ngFor="let headline of news.news"
          [headline]="headline"
        ></app-headline>
      </ng-container>
    </div>
    <ng-template #noNews>
      <shared-loading></shared-loading>
    </ng-template>
  </main>
</div>
